In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import warnings
warnings.filterwarnings("ignore")
import tensorflow as tf
from sklearn.preprocessing import StandardScaler

import itertools
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score,f1_score
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from keras.layers import Input,Dropout,Dense
from keras.models import Model
from keras import regularizers
from keras.utils.data_utils import get_file
%matplotlib inline

In [ ]:
training_df = pd.read_csv("/content/drive/MyDrive/cyberData/KDDTrain+.csv", header=None)
testing_df = pd.read_csv("/content/drive/MyDrive/cyberData/KDDTest+.csv", header=None)

In [ ]:
training_df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,ftp_data,SF,491,0,0,0,0,0,...,0.17,0.03,0.17,0.00,0.00,0.00,0.05,0.00,normal,20
1,0,udp,other,SF,146,0,0,0,0,0,...,0.00,0.60,0.88,0.00,0.00,0.00,0.00,0.00,normal,15
2,0,tcp,private,S0,0,0,0,0,0,0,...,0.10,0.05,0.00,0.00,1.00,1.00,0.00,0.00,neptune,19
3,0,tcp,http,SF,232,8153,0,0,0,0,...,1.00,0.00,0.03,0.04,0.03,0.01,0.00,0.01,normal,21
4,0,tcp,http,SF,199,420,0,0,0,0,...,1.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,normal,21

In [ ]:
testing_df.head()

,0,1,2,3,4,5,6,7,8,9,...,33,34,35,36,37,38,39,40,41,42
0,0,tcp,private,REJ,0,0,0,0,0,0,...,0.04,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
1,0,tcp,private,REJ,0,0,0,0,0,0,...,0.00,0.06,0.00,0.00,0.0,0.0,1.00,1.00,neptune,21
2,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,0.61,0.04,0.61,0.02,0.0,0.0,0.00,0.00,normal,21
3,0,icmp,eco_i,SF,20,0,0,0,0,0,...,1.00,0.00,1.00,0.28,0.0,0.0,0.00,0.00,saint,15
4,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,0.31,0.17,0.03,0.02,0.0,0.0,0.83,0.71,mscan,11

In [ ]:
datacols = ['duration','protocol_type','service','flag','src_bytes','dst_bytes','land','wrong_fragment','urgent','hot','num_failed_logins','logged_in','num_compromised',
    'root_shell','su_attempted','num_root','num_file_creations','num_shells','num_access_files','num_outbound_cmds','is_host_login','is_guest_login','count','srv_count','serror_rate',
    'srv_serror_rate','rerror_rate','srv_rerror_rate','same_srv_rate','diff_srv_rate','srv_diff_host_rate','dst_host_count','dst_host_srv_count','dst_host_same_srv_rate','dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate','dst_host_srv_diff_host_rate','dst_host_serror_rate','dst_host_srv_serror_rate','dst_host_rerror_rate','dst_host_srv_rerror_rate','outcome','difficulty']
training_df.columns = datacols
testing_df.columns = datacols

print("Training set has {} rows.".format(len(training_df)))
print("Testing set has {} rows.".format(len(testing_df)))

training_outcomes=training_df["outcome"].unique()
testing_outcomes=testing_df["outcome"].unique()
print("The training set has {} possible outcomes \n".format(len(training_outcomes)) )
print(", ".join(training_outcomes)+".")
print("\nThe testing set has {} possible outcomes \n".format(len(testing_outcomes)))
print(", ".join(testing_outcomes)+".")

Training set has 125973 rows.
Testing set has 22543 rows.
The training set has 23 possible outcomes

normal, neptune, warezclient, ipsweep, portsweep, teardrop, nmap, satan, smurf, pod, back, guess_passwd, ftp_write, multihop, rootkit, buffer_overflow, imap, warezmaster, phf, land, loadmodule, spy, perl.

The testing set has 38 possible outcomes

neptune, normal, saint, mscan, guess_passwd, smurf, apache2, satan, buffer_overflow, back, warezmaster, snmpgetattack, processtable, pod, httptunnel, nmap, ps, snmpguess, ipsweep, mailbomb, portsweep, multihop, named, sendmail, loadmodule, xterm, worm, teardrop, rootkit, xlock, perl, land, xsnoop, sqlattack, ftp_write, imap, udpstorm, phf.

In [ ]:
# A list ot attack names that belong to each general attack type
dos_attacks=["snmpgetattack","back","land","neptune","smurf","teardrop","pod","apache2","udpstorm","processtable","mailbomb"]
r2l_attacks=["snmpguess","worm","httptunnel","named","xlock","xsnoop","sendmail","ftp_write","guess_passwd","imap","multihop","phf","spy","warezclient","warezmaster"]
u2r_attacks=["sqlattack","buffer_overflow","loadmodule","perl","rootkit","xterm","ps"]
probe_attacks=["ipsweep","nmap","portsweep","satan","saint","mscan"]


classes=["Normal","Dos","R2L","U2R","Probe"]

#Helper function to label samples to 5 classes
def label_attack (row):
    if row["outcome"] in dos_attacks:
        return classes[1]
    if row["outcome"] in r2l_attacks:
        return classes[2]
    if row["outcome"] in u2r_attacks:
        return classes[3]
    if row["outcome"] in probe_attacks:
        return classes[4]
    return classes[0]


#We combine the datasets temporarily to do the labeling 
test_samples_length = len(testing_df)
df=pd.concat([training_df,testing_df])
df["Class"]=df.apply(label_attack,axis=1)


# The old outcome field is dropped since it was replaced with the Class field, the difficulty field will be dropped as well.
df=df.drop("outcome",axis=1)
df=df.drop("difficulty",axis=1)

# we again split the data into training and test sets.
training_df= df.iloc[:-test_samples_length, :]
testing_df= df.iloc[-test_samples_length:,:]

In [ ]:
training_outcomes=training_df["Class"].unique()
testing_outcomes=testing_df["Class"].unique()
print("The training set has {} possible outcomes \n".format(len(training_outcomes)) )
print(", ".join(training_outcomes)+".")
print("\nThe testing set has {} possible outcomes \n".format(len(testing_outcomes)))
print(", ".join(testing_outcomes)+".")

The training set has 5 possible outcomes

Normal, Dos, R2L, Probe, U2R.

The testing set has 5 possible outcomes

Dos, Normal, Probe, R2L, U2R.

In [ ]:
# Helper function for scaling continous values
def minmax_scale_values(training_df,testing_df, col_name):
    scaler = MinMaxScaler()
    # scaler = StandardScaler()
    scaler = scaler.fit(training_df[col_name].values.reshape(-1, 1))
    train_values_standardized = scaler.transform(training_df[col_name].values.reshape(-1, 1))
    training_df[col_name] = train_values_standardized
    test_values_standardized = scaler.transform(testing_df[col_name].values.reshape(-1, 1))
    testing_df[col_name] = test_values_standardized
    
    
#Helper function for one hot encoding
def encode_text(training_df,testing_df, name):
    training_set_dummies = pd.get_dummies(training_df[name])
    testing_set_dummies = pd.get_dummies(testing_df[name])
    for x in training_set_dummies.columns:
        dummy_name = "{}_{}".format(name, x)
        training_df[dummy_name] = training_set_dummies[x]
        if x in testing_set_dummies.columns :
            testing_df[dummy_name]=testing_set_dummies[x]
        else :
            testing_df[dummy_name]=np.zeros(len(testing_df))
    training_df.drop(name, axis=1, inplace=True)
    testing_df.drop(name, axis=1, inplace=True)
    
    
sympolic_columns=["protocol_type","service","flag"]
label_column="Class"
for column in df.columns :
    if column in sympolic_columns:
        encode_text(training_df,testing_df,column)
    elif not column == label_column:
        minmax_scale_values(training_df,testing_df, column)

In [ ]:
print(training_df.head(5))
print("------------------------")
print(testing_df.head(5))

   duration     src_bytes     dst_bytes  land  wrong_fragment  urgent  hot  \
0       0.0  3.558064e-07  0.000000e+00   0.0             0.0     0.0  0.0
1       0.0  1.057999e-07  0.000000e+00   0.0             0.0     0.0  0.0
2       0.0  0.000000e+00  0.000000e+00   0.0             0.0     0.0  0.0
3       0.0  1.681203e-07  6.223962e-06   0.0             0.0     0.0  0.0
4       0.0  1.442067e-07  3.206260e-07   0.0             0.0     0.0  0.0

   num_failed_logins  logged_in  num_compromised  ...  flag_REJ  flag_RSTO  \
0                0.0        0.0              0.0  ...         0          0
1                0.0        0.0              0.0  ...         0          0
2                0.0        0.0              0.0  ...         0          0
3                0.0        1.0              0.0  ...         0          0
4                0.0        1.0              0.0  ...         0          0

   flag_RSTOS0  flag_RSTR  flag_S0  flag_S1  flag_S2  flag_S3  flag_SF  \
0            0          0        0        0        0        0        1
1            0          0        0        0        0        0        1
2            0          0        1        0        0        0        0
3            0          0        0        0        0        0        1
4            0          0        0        0        0        0        1

   flag_SH
0        0
1        0
2        0
3        0
4        0

[5 rows x 123 columns]
------------------------
   duration     src_bytes     dst_bytes  land  wrong_fragment  urgent  hot  \
0  0.000000  0.000000e+00  0.000000e+00   0.0             0.0     0.0  0.0
1  0.000000  0.000000e+00  0.000000e+00   0.0             0.0     0.0  0.0
2  0.000047  9.408217e-06  0.000000e+00   0.0             0.0     0.0  0.0
3  0.000000  1.449313e-08  0.000000e+00   0.0             0.0     0.0  0.0
4  0.000023  0.000000e+00  1.145093e-08   0.0             0.0     0.0  0.0

   num_failed_logins  logged_in  num_compromised  ...  flag_REJ  flag_RSTO  \
0                0.0        0.0              0.0  ...         1          0
1                0.0        0.0              0.0  ...         1          0
2                0.0        0.0              0.0  ...         0          0
3                0.0        0.0              0.0  ...         0          0
4                0.0        0.0              0.0  ...         0          1

   flag_RSTOS0  flag_RSTR  flag_S0  flag_S1  flag_S2  flag_S3  flag_SF  \
0            0          0        0        0        0        0        0
1            0          0        0        0        0        0        0
2            0          0        0        0        0        0        1
3            0          0        0        0        0        0        1
4            0          0        0        0        0        0        0

   flag_SH
0        0
1        0
2        0
3        0
4        0

[5 rows x 123 columns]

In [ ]:
x,y=training_df,training_df.pop("Class").values
x=x.values
x_test,y_test=testing_df,testing_df.pop("Class").values
x_test=x_test.values
y0=np.ones(len(y),np.int8)
y0[np.where(y==classes[0])]=0
y0_test=np.ones(len(y_test),np.int8)
y0_test[np.where(y_test==classes[0])]=0

# x.shape

# x_test.shape

# y.shape

# y_test.shape

#Buildling and training the model

def getModel():
    inp = Input(shape=(x.shape[1],))
    d1=Dropout(0.5)(inp)
    encoded = Dense(8, activation='relu', activity_regularizer=regularizers.l2(10e-5))(d1)
    decoded = Dense(x.shape[1], activation='relu')(encoded)
    autoencoder = Model(inp, decoded)
    autoencoder.compile(optimizer='adam', loss='mean_squared_error')
    return autoencoder

autoencoder=getModel()
history=autoencoder.fit(x[np.where(y0==0)],x[np.where(y0==0)],
               epochs=100,
                batch_size=100,
                shuffle=True,
                validation_split=0.1
                       )

# Helper function that calculates the reconstruction loss of each data sample
def calculate_losses(x,preds):
    losses=np.zeros(len(x))
    for i in range(len(x)):
        losses[i]=((preds[i] - x[i]) ** 2).mean(axis=None)
        
    return losses

# We set the threshold equal to the training loss of the autoencoder
threshold=history.history["loss"][-1]

testing_set_predictions=autoencoder.predict(x_test)
test_losses=calculate_losses(x_test,testing_set_predictions)
testing_set_predictions=np.zeros(len(test_losses))
testing_set_predictions[np.where(test_losses>threshold)]=1

accuracy=accuracy_score(y0_test,testing_set_predictions)
recall=recall_score(y0_test,testing_set_predictions)
precision=precision_score(y0_test,testing_set_predictions)
f1=f1_score(y0_test,testing_set_predictions)
print("Performance over the testing data set \n")
print("Accuracy : {} , Recall : {} , Precision : {} , F1 : {}\n".format(accuracy,recall,precision,f1 ))

#


# for class_ in classes:
#     print(class_+" Detection Rate : {}".format(len(np.where(np.logical_and(testing_set_predictions==1 , y_test==class_))[0])/len(np.where(y_test==class_)[0])))

Epoch 1/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0177 - val_loss: 0.0063
Epoch 2/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0082 - val_loss: 0.0051
Epoch 3/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0075 - val_loss: 0.0046
Epoch 4/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0071 - val_loss: 0.0044
Epoch 5/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0069 - val_loss: 0.0042
Epoch 6/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0068 - val_loss: 0.0040
Epoch 7/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0067 - val_loss: 0.0039
Epoch 8/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0066 - val_loss: 0.0038
Epoch 9/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0065 - val_loss: 0.0038
Epoch 10/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0065 - val_loss: 0.0038
Epoch 11/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0064 - val_loss: 0.0037
Epoch 12/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0064 - val_loss: 0.0037
Epoch 13/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0063 - val_loss: 0.0037
Epoch 14/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0063 - val_loss: 0.0036
Epoch 15/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0063 - val_loss: 0.0036
Epoch 16/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0063 - val_loss: 0.0036
Epoch 17/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0062 - val_loss: 0.0036
Epoch 18/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0062 - val_loss: 0.0036
Epoch 19/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0062 - val_loss: 0.0036
Epoch 20/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0062 - val_loss: 0.0035
Epoch 21/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0062 - val_loss: 0.0035
Epoch 22/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0061 - val_loss: 0.0035
Epoch 23/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0062 - val_loss: 0.0035
Epoch 24/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0061 - val_loss: 0.0035
Epoch 25/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0061 - val_loss: 0.0035
Epoch 26/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0061 - val_loss: 0.0034
Epoch 27/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0061 - val_loss: 0.0035
Epoch 28/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0061 - val_loss: 0.0035
Epoch 29/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0061 - val_loss: 0.0034
Epoch 30/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 31/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 32/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0061 - val_loss: 0.0034
Epoch 33/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 34/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 35/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 36/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 37/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 38/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 39/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 40/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 41/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 42/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0060 - val_loss: 0.0034
Epoch 43/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 44/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 45/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0060 - val_loss: 0.0033
Epoch 46/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 47/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 48/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 49/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 50/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 51/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 52/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 53/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 54/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 55/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 56/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 57/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 58/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0033
Epoch 59/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 60/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 61/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 62/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 63/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 64/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 65/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 66/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 67/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 68/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 69/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 70/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 71/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 72/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 73/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 74/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 75/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 76/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 77/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 78/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 79/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 80/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 81/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 82/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 83/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 84/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 85/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 86/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 87/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 88/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 89/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 90/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0031
Epoch 91/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 92/100
607/607 [==============================] - 2s 3ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 93/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0031
Epoch 94/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 95/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 96/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0031
Epoch 97/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0059 - val_loss: 0.0032
Epoch 98/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0031
Epoch 99/100
607/607 [==============================] - 2s 2ms/step - loss: 0.0058 - val_loss: 0.0032
Epoch 100/100
607/607 [==============================] - 1s 2ms/step - loss: 0.0058 - val_loss: 0.0031
Performance over the testing data set

Accuracy : 0.8975291664818347 , Recall : 0.9519208291124445 , Precision : 0.8782802501977137 , F1 : 0.9136190262508413